:root {
  --orange-50: #ffe8d9;
  --orange-100: #ffd0b5;
  --orange-200: #ffb088;
  --orange-300: #ff9466;
  --orange-400: #f9703e;
  --orange-500: #f35627;
  --orange-600: #de3a11;
  --orange-700: #c52707;
  --orange-800: #ad1d07;
  --orange-900: #841003;

  --yellow-50: #fffaeb;
  --yellow-100: #fcefc7;
  --yellow-200: #f8e3a3;
  --yellow-300: #f9da8b;
  --yellow-400: #f7d070;
  --yellow-500: #e9b949;
  --yellow-600: #c99a2e;
  --yellow-700: #a27c1a;
  --yellow-800: #7c5e10;
  --yellow-900: #513c06;
  --yellow-950: #2c2104;

  --blue-gray-50: #f0f4f8;
  --blue-gray-100: #d9e2ec;
  --blue-gray-200: #bcccdc;
  --blue-gray-300: #9fb3c8;
  --blue-gray-400: #829ab1;
  --blue-gray-500: #627d98;
  --blue-gray-600: #486581;
  --blue-gray-700: #334e68;
  --blue-gray-800: #243b53;
  --blue-gray-900: #102a43;
  --blue-gray-950: #07121d;

  --gray-50: #f5f7fa;
  --gray-100: #e4e7eb;
  --gray-200: #cbd2d9;
  --gray-300: #9aa5b1;
  --gray-400: #7b8794;
  --gray-500: #616e7c;
  --gray-600: #52606d;
  --gray-700: #3e4c59;
  --gray-800: #323f4b;
  --gray-900: #1f2933;
}